:root {
    --cor-principal: #9900F0;
    --cor-principal-degrade: linear-gradient(to right top, #9900f0, #a020f0, #a731f0, #ae3ff0, #b44bf0);
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'GT';

    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.semHighlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* =-=-=-=-=-=-=-=-=-=-= Scroll =-=-=-=-=-=-=-=-=-=-= */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #6b6e70;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #949799;
}

/* =-=-=-=-=-=-=-=-=-=-= nprogress =-=-=-=-=-=-=-=-=-=-= */
#nprogress .bar {
    background: rgba(255, 255, 255, 0.5) !important;
    height: 4px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.5) !important
}

#nprogress .spinner-icon {
    border-top-color: rgba(255, 255, 255, 0.5) !important;
    border-left-color: rgba(255, 255, 255, 0.5) !important
}

#nprogress .bar, .peg {
    background: rgba(255, 255, 255, 0.5) !important;
    box-shadow: none !important;
    height: 3px !important
}

#nprogress .spinner-icon {
    border-top-color: rgba(255, 255, 255, 0.5) !important;
    border-left-color: rgba(255, 255, 255, 0.5) !important
}