.container {
    /* background-color: pink !important; */
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.transicaoBackground {
    -webkit-transition: background-color 800ms linear;
    -ms-transition: background-color 800ms linear;
    transition: background-color 800ms linear;
}

/* =-=-=-=-=-=-=-=-=-=-= Sessão do vídeo =-=-=-=-=-=-=-=-=-=-= */
.divWebcam {
    /* background-color: red; */
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sessaoWebcam video {
    border-radius: 10px;
}

.sessaoWebcam canvas {
    position: absolute;
}

.divInfos {
    background-color: rgba(140, 10, 240, 0.1);

    border-radius: 10px;
    height: 100px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 60px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
}

.divInfos span {
    /* background-color: pink; */
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.divInfosAlt {
    margin-top: 1rem;
    box-shadow: none;
}

.divInfosAlt span {
    /* background-color: pink; */
    z-index: 99999;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.centralizar {
    /* background-color: pink; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =-=-=-=-=-=-=-=-=-=-= Botão =-=-=-=-=-=-=-=-=-=-= */
.botao {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 40px;
    margin: 8px 0 12px;
    padding: 8px 48px;
    border: none;
    background: var(--branco);
    border-radius: 500px;
    color: var(--preto);
    cursor: pointer;
    font: inherit;
    font-size: 14px;
    font-weight: 600;
    line-height: 180px;
    white-space: nowrap;
    outline: none;
    place-content: center;
    place-items: center;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    text-transform: uppercase;
}

.botaoCustom button {
    background-image: var(--cor-principal-degrade);
    color: #fff;
    letter-spacing: 1px;
}

.botao:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.botao:disabled {
    cursor: not-allowed;
    filter: brightness(50%);
}

.sideBarRemoverSeWidthPequeno {
    display: block;
}